@import "mixins";

#new_dash__root {
  width: auto;
  display: grid;
  padding: 20px 20px;
  grid-gap: 20px;

  #current_job {
    grid-area: A;
  }

  #quick_access {
    grid-area: B;
    overflow: auto;
    max-height: 50vh;
  }

  #visual_control {
    grid-area: C;
  }

  #files {
    min-width: 30%;
    overflow: auto;
    grid-area: D;
  }
}

.chapter {
  display: block;
  //padding: 0 10%;
  min-height: 25vh;

  .paragraph {
    clear: both;
    display: block;
    width: 100%;
  }
}

.important-info{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.first-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.second-title {
  font-size: 1.1rem;
}

.add-btn {
  @include flex_center_content(true);
  width: 40px;
  height: 30px;
  border-radius: 15px;
  background-color: white;
  cursor: pointer;

  span {
    rotate: 0deg;
    transition: rotate 0.3s;
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
  }

  .opened {
    rotate: 225deg;
    transition:  rotate 0.3s;
  }
}

#current_job {
  .important-info {
    padding: 10px 0;
  }

  #current_job_done_percent_root {
    height: 17px;
    border: 1px solid;
    border-radius: var(--value-border-radius);
    border-color: var(--color-percent-border);
    overflow: clip;

    #current_job_done_percent_line {
      background-color: var(--color-percent-line);
      width: 32%;
      height: 100%;
    }

  }

  #current_job_done_time_text {
    margin-bottom: 10px;
  }

  #current_job_done_percent_text {
    margin-top: 10px;
    font-size: var(--value-middle-font);
  }

  .print-info {
    width: 100%;
    text-align: center;
  }

  #current_job_control_btns{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .print_control_btn {
      width: 25%;
      padding-top: 3%;
      padding-bottom: 3%;
      text-align: center;
      font-size: calcFluidFontSize(12, 14, 280, 1280);
      font-weight: bold;
      color: black;
      cursor: pointer;
      background-color: var(--color-silver-light);
      border-radius: var(--value-border-radius);

      &:first-child {
        background-color: var(--color-red);
        color: white;
      }
    }
  }
}

#printer_fan_group {
  position: relative;
  transform-origin: 50.4% 35%;
  -webkit-animation: spin 2s infinite linear;
}
@-webkit-keyframes spin {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}


@media screen and (min-width: 768px) {
  #new_dash__root {
    grid-template-columns: 30% auto 30%;
    grid-template-areas:
			"A C D"
			"B C D";
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  #new_dash__root {
    grid-template-columns: 50% 50%;
    grid-template-areas:
			"A C"
			"B C"
			"D D";
  }
}

@media screen and (max-width:600px) {
  #new_dash__root {
    grid-template-columns: 100%;
    grid-template-areas:
			"A"
			"B"
			"C"
			"D";
  }

  .chapter {
  }

  .first-title {
    font-size: 1rem;
  }
}



