/* Style the tab */
div.tab {
    display: flex;
    flex-direction: row;
}

/* Style the buttons inside the tab */
.tab button {
    margin: 2px 5px 2px 5px;
    width: 8.5em;
    height: 3em;
    border-radius: var(--value-border-radius);
    background-color: var(--color-tab-inactive);
    appearance: none;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    color: var(--color-tab-text-inactive);
}

    .tab button .center {
        line-height: normal;
        display: inline-block;
        vertical-align: middle;
    }


/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: var(--color-tab-hover);
    border-radius: var(--value-border-radius);
    color: var(--color-tab-text-hover);
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: var(--color-tab-active);
    border-radius: var(--value-border-radius);
    color: var(--color-tab-text-active);
}

/* Style the tab content */
.tabcontent {
    display: none;
    transition: opacity 0.3s;
    opacity: 0;
}


@media screen and (max-width: 420px) {
    div.tab {
        justify-content: space-around;
    }
    div.tab button {
        font-size: small;
        width: 8em;
    }
}
